<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/base/css/style.css">
  <link rel="stylesheet" href="/skin/default/css/style.css">
 
  <script type="text/javascript" src="/vendor/malihu-custom-scrollbar-plugin/jquery/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/vendor/malihu-custom-scrollbar-plugin/jquery/jquery-ui-1.9.1.custom.min.js"></script>  
  
  <link rel="stylesheet" type="text/css" href="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <script type="text/javascript" src="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
  <script type="text/javascript" src="/vendor/malihu-custom-scrollbar-plugin/jquery.mousewheel.min.js"></script>
  
  <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){        
        
        $.nano = function(template, data) {
            return template.replace(/\{([\w\.]*)\}/g, function (str, key) {
                var keys = key.split("."), value = data[keys.shift()];
                $.each(keys, function () { value = value[this]; });
                return (value === null || value === undefined) ? "" : value;
            });
        };
       
        VK.init(function() {
            //apiId: 3355850
            //
        });

        /**
        * Событие происходит, когда пользователь отменяет покупку.
        */
        VK.addCallback('onOrderCancel', function(){
            //
            clearItems();
        });

        /**
        * Событие происходит, когда покупка закончилась успешно.
        */
        VK.addCallback('onOrderSuccess', function(orderId){
            addToBasket(orderId);
            clearItems();
        });

        /**
        * Событие происходит, когда покупка закончилась неуспешно.
        */
        VK.addCallback('onOrderFail', function(errorCode){
            //
            clearItems();
        });
        
        
        $('.products').mCustomScrollbar({
            scrollButtons:{
                enable:true
            }
        });
          
    });
    
    function orderWindow(item_id){
        alert(item_id)
    }
  </script>
  
<style>
html{
    background: url(/skin/default/img/img1349169500.jpg) center top;
}
</style>
</head>
<body>
  <div class="main container-fluid">
  
    <header class="row-fluid">
      <div class="span4"><img alt="" src="/base/img/logo.png"></div>
      <div class="span8">
        <div class="row-fluid">topmenu</div>
        <div class="row-fluid">
          {% include '_navbar.twig' %}
        </div>
      </div>
    </header>
  
    <div class="row-fluid">
    {% block content %}{% endblock %}
    </div>
    
    <footer></footer>
    
  </div>
  <script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>