<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/base/css/style.css">
  <link rel="stylesheet" href="/skin/default/css/style.css">

  <script src="/other/js/jquery-1.9.0.min.js"></script>
<style>
html{
    background: url(/other/img/img1349169500.jpg) center top;
}
body{
    background: none;
}
</style>
</head>
<body>
  <div class="container-fluid" style="width: 690px; margin: 0 auto;">
  
    <header class="row-fluid">
      <div class="span4"><img alt="" src="/base/img/logo.png"></div>
      <div class="span8"></div>
    </header>
  
    <div class="row-fluid">
    {% block content %}{% endblock %}
    </div>
    
    <footer></footer>
    
  </div>
  <script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>