body{
    margin: 0;
    padding: 0;
    background: none;
   /* background: #304E7E; */
}

.main.container-fluid{
    width: 690px;
    margin: 0 auto;
    padding: 0;   
}



.products [class*="span"],
.products .uneditable-input[class*="span"],
.products .row-fluid [class*="span"] {
    float: left;
    display: block;
    width: 227px;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.products{
    margin-right: -13px;
    height: 730px;
    overflow: hidden;
} 



header{
    height: 50px;
}

.navbar-inner {
    padding: 0 !important;   
}
.navbar {
    margin-bottom: 5px;
}


.mCSB_container {
    margin-right: 0px !important;
}






.topsubmenu{
    margin: 5px -10px 6px 0;
    text-align: right;
}
.topsubmenu a{
    padding: 0 9px;
    color: #EFF5F8;
}
.topsubmenu span{
    font-size: 15px;
    color: #ABDCF1;
    line-height: 9px;
    display: inline-block;
}


.navbar-inner {
min-height: 34px;
padding-left: 20px;
padding-right: 20px;
border: 1px solid #D4D4D4;
background: none;
background-image: url(../img/top-navigate-bg.png);

-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;

   -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
           box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .nav > li > a {
float: none;
padding: 9px 14px 9px;
color: #777;
text-decoration: none;
text-shadow: 0 1px 0 white;
}

.navbar .divider-vertical {
height: 34px;
margin: 0 9px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid white;
}