body{
    margin: 0;
    padding: 0;
    background: none;
   /* background: #304E7E; */
}

.main.container-fluid{
    width: 690px;
    margin: 0 auto;
    padding: 0;   
}



.products [class*="span"],
.products .uneditable-input[class*="span"],
.products .row-fluid [class*="span"] {
    float: left;
    display: block;
    width: 227px;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.products{
    margin-right: -13px;
    height: 730px;
    overflow: hidden;
} 



header{
    height: 50px;
}

.navbar-inner {
    padding: 0 !important;   
}
.navbar {
    margin-bottom: 5px;
}


.mCSB_container {
    margin-right: 0px !important;
}






.topsubmenu{
    margin: 5px -10px 6px 0;
    text-align: right;
}
.topsubmenu a{
    padding: 0 9px;
    color: #ABDCF1;
}
.topsubmenu span{
    font-size: 15px;
    color: #ABDCF1;
    line-height: 9px;
    display: inline-block;
}